    <div class="row main documentation-body">


        <div class="col-md-11 col-md-offset-1 all">
          <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel FPGA SDK for OpenCL</h1>
            </div>
          </div>

            <div class="row" >
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row" >
              <div class="col-md-4">
                <a href="https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html" target="_blank"><h3>Overview</h3></a>
                <p>Target different hardware platforms with OpenCL</p>
                <a href=https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html target="_blank">https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://dl.altera.com/opencl/?edition=standard" target="_blank"><h3>Developer Tools Download</h3></a>
                <p>Download Intel FPGA SDK for OpenCL</p>
                <a href=http://dl.altera.com/opencl/?edition=standard target="_blank">http://dl.altera.com/opencl/?edition=standard</a>
              </div>
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=4PUKzI14mLY" target="_blank"><h3>Getting Started Videos</h3></a>
                <p>How to setup Intel FPGA SDK for OpenCL</p>
                <a href=https://www.youtube.com/watch?v=4PUKzI14mLY target="_blank">Part 1: https://www.youtube.com/watch?v=4PUKzI14mLY<br /></a>
                <a href=https://www.youtube.com/watch?v=WpcIYvQuvvo target="_blank">Part 2: https://www.youtube.com/watch?v=WpcIYvQuvvo<br /></a>
                <a href=https://www.youtube.com/watch?v=npEUaj-MfVY target="_blank">Part 3: https://www.youtube.com/watch?v=npEUaj-MfVY<br /></a>
                <a href=https://www.youtube.com/watch?v=SKJR6PPeDFg target="_blank">Part 4: https://www.youtube.com/watch?v=SKJR6PPeDFg<br /></a>
              </div>

            <div class="col-md-4">
                <a href="https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf" target="_blank"><h3>Developer Best Practices Guide</h3></a>
                <p>Learn how to use Intel FPGA SDK for OpenCL</p>
                <a href=https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf target="_blank">https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf</a>
              </div>

            <div class="col-md-4">
                <a href="https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html" target="_blank"><h3>Examples</h3></a>
                <p>Hello World</p>
                <a href=https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html target="_blank" >https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html</a>
                <p><br />Vector Addition</p>
                <a href=https://www.altera.com/support/support-resources/design-examples/design-software/opencl/vector-addition.html target="_blank">https://www.altera.com/support/support-resources/design-examples/design-software/opencl/vector-addition.html</a>
              </div>

            </div>
            <div class="clearfix"></div>
            <br/>

            <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel Computer Vision SDK</h1>
            </div>
          </div>

            <div class="row">
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row">
              <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK</h3></a>
                <p>Unlock the potential of Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Tools Download</h3></a>
                <p>Download Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Getting Started Videos</h3></a>
                <p>Learn how to use Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>
            <br/>

            <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel Morphable Software Offload SDK</h1>
            </div>
          </div>

            <div class="row">
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row" >
              <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK</h3></a>
                <p>Unlock the potential of Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Tools Download</h3></a>
                <p>Download Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Getting Started Videos</h3></a>
                <p>Learn how to use Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>
            <br/>

             <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Other</h1>
            </div>
          </div>
	    <div class="row">
             <div class="col-md-3">
                <a href="https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html" target="_blank"><h3>Quartus</h3></a>
                <p>Use Quartus for FPGA development</p>
                <a href=https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html target="_blank">https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html</a>
              </div>
            <div class="col-md-3">
                <a href="https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html" target="_blank"><h3>Cyclone V</h3></a>
                <p>Start FPGA prototyping with a Cyclone V development kit</p>
                <a href=https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html target="_blank">https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html</a>
              </div>
            <div class="col-md-3">
                <a href="https://ark.intel.com/products/codename/80644/Apollo-Lake#@All" target="_blank"><h3>Apollo Lake</h3></a>
                <p>Start FPGA prototyping with an Apollo Lake development system</p>
                <a href=https://ark.intel.com/products/codename/80644/Apollo-Lake#@All target="_blank">https://ark.intel.com/products/codename/80644/Apollo-Lake#@All</a>
              </div>
            <div class="col-md-3">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>IP</h3></a>
                <p>Use pre-existing IP blocks</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>

      </div>
    </div>