<!-- FPGA Reset-->
<div class="admin-step">
  <div class="row">
    <div class="col-md-12">
      <h1>Generating Soft SoC Request</h1>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-md-12 description">
      Clicking "Continue" will reset the FPGA and reboot your system.
    </div>
  </div><!-- .row -->
  <div class="row admin-modal-btn-row">
    <div class="col-md-6">
      <div class="cancel-button-md admin-modal-btn" ng-click="cancelFPGA()">Cancel</div>
    </div>
    <div class="col-md-6">
      <div class="blue-button-md admin-modal-btn" ng-click="continueFPGA()">Continue</div>
    </div>
  </div><!-- .row -->
</div><!-- /.admin-step -->




