    <div class="row main documentation-body" ng-show="device.platform == 'synergy'">


        <div class="col-md-11 col-md-offset-1 all">
          <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel FPGA SDK for OpenCL</h1>
            </div>
          </div>

            <div class="row" >
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row" >
              <div class="col-md-4">
                <a href="https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html" target="_blank"><h3>Overview</h3></a>
                <p>Target different hardware platforms with OpenCL</p>
                <a href=https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html target="_blank">https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://dl.altera.com/opencl/?edition=standard" target="_blank"><h3>Developer Tools Download</h3></a>
                <p>Download Intel FPGA SDK for OpenCL</p>
                <a href=http://dl.altera.com/opencl/?edition=standard target="_blank">http://dl.altera.com/opencl/?edition=standard</a>
              </div>
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=4PUKzI14mLY" target="_blank"><h3>Getting Started Videos</h3></a>
                <p>How to setup Intel FPGA SDK for OpenCL</p>
                <a href=https://www.youtube.com/watch?v=4PUKzI14mLY target="_blank">Part 1: https://www.youtube.com/watch?v=4PUKzI14mLY<br /></a>
                <a href=https://www.youtube.com/watch?v=WpcIYvQuvvo target="_blank">Part 2: https://www.youtube.com/watch?v=WpcIYvQuvvo<br /></a>
                <a href=https://www.youtube.com/watch?v=npEUaj-MfVY target="_blank">Part 3: https://www.youtube.com/watch?v=npEUaj-MfVY<br /></a>
                <a href=https://www.youtube.com/watch?v=SKJR6PPeDFg target="_blank">Part 4: https://www.youtube.com/watch?v=SKJR6PPeDFg<br /></a>
              </div>

            <div class="col-md-4">
                <a href="https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf" target="_blank"><h3>Developer Best Practices Guide</h3></a>
                <p>Learn how to use Intel FPGA SDK for OpenCL</p>
                <a href=https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf target="_blank">https://www.altera.com/content/dam/altera-www/global/en_US/pdfs/literature/hb/opencl-sdk/aocl-best-practices-guide.pdf</a>
              </div>

            <div class="col-md-4">
                <a href="https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html" target="_blank"><h3>Examples</h3></a>
                <p>Hello World</p>
                <a href=https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html target="_blank" >https://www.altera.com/support/support-resources/design-examples/design-software/opencl/hello-world.html</a>
                <p><br />Vector Addition</p>
                <a href=https://www.altera.com/support/support-resources/design-examples/design-software/opencl/vector-addition.html target="_blank">https://www.altera.com/support/support-resources/design-examples/design-software/opencl/vector-addition.html</a>
              </div>

            </div>
            <div class="clearfix"></div>
            <br/>

            <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel Computer Vision SDK</h1>
            </div>
          </div>

            <div class="row">
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row">
              <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK</h3></a>
                <p>Unlock the potential of Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Tools Download</h3></a>
                <p>Download Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Getting Started Videos</h3></a>
                <p>Learn how to use Intel Computer Vision SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>
            <br/>

            <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Intel Morphable Software Offload SDK</h1>
            </div>
          </div>

            <div class="row">
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-xs-1 hero-link">
                <a href=http://www.intel.com/content/www/us/en/homepage.html
		   target="_blank"
		   uib-tooltip=http://www.intel.com/content/www/us/en/homepage.html>
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>

	    <div class="row" >
              <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK</h3></a>
                <p>Unlock the potential of Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Tools Download</h3></a>
                <p>Download Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
            <div class="col-md-4">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>SDK Getting Started Videos</h3></a>
                <p>Learn how to use Intel Morphable Software Offload SDK</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>
            <br/>

             <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Other</h1>
            </div>
          </div>
	    <div class="row">
             <div class="col-md-3">
                <a href="https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html" target="_blank"><h3>Quartus</h3></a>
                <p>Use Quartus for FPGA development</p>
                <a href=https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html target="_blank">https://www.altera.com/products/design-software/fpga-design/quartus-prime/overview.html</a>
              </div>
            <div class="col-md-3">
                <a href="https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html" target="_blank"><h3>Cyclone V</h3></a>
                <p>Start FPGA prototyping with a Cyclone V development kit</p>
                <a href=https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html target="_blank">https://www.altera.com/products/fpga/cyclone-series/cyclone-v/overview.html</a>
              </div>
            <div class="col-md-3">
                <a href="https://ark.intel.com/products/codename/80644/Apollo-Lake#@All" target="_blank"><h3>Apollo Lake</h3></a>
                <p>Start FPGA prototyping with an Apollo Lake development system</p>
                <a href=https://ark.intel.com/products/codename/80644/Apollo-Lake#@All target="_blank">https://ark.intel.com/products/codename/80644/Apollo-Lake#@All</a>
              </div>
            <div class="col-md-3">
                <a href="http://www.intel.com/content/www/us/en/homepage.html" target="_blank"><h3>IP</h3></a>
                <p>Use pre-existing IP blocks</p>
                <a href=http://www.intel.com/content/www/us/en/homepage.html target="_blank">http://www.intel.com/content/www/us/en/homepage.html</a>
              </div>
        </div>
            <div class="clearfix"></div>

      </div>
    </div>

        <div class="row main documentation-body" ng-show="device.platform == 'default'">
        <!-- Left Main -->
        <div class="col-md-6 col-md-offset-1 left-tutorials">
          <!-- Header -->
          <div class="row">
            <div class="col-md-12">
              <h1>Tutorials</h1>
            </div>
          </div>
          <!-- Tutorials -->
          <div class="row">
            <div class="col-md-8">
              <h3>Setup a sensor in Node-Red</h3>
              <p>How to setup an IoT Sensor using Node-Red</p>
              <a class="view-video" href="https://software.intel.com/en-us/videos/iot-dev-hub-setup-sensor-in-node-red" target="intelvideo">View Video</a>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <div class="blue-button-sm view-tutorial" ng-click="viewSensorSetupTutorial()">View the tutorial</div>
            </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
          <!-- Tutorials -->
          <div class="row">
            <div class="col-md-8">
              <h3>Connect sensor output to cloud in Node-Red</h3>
              <p>Building upon 1st tutorial, learn how to push Sensor data into Cloud Node-Red then display the result within the Intel® IoT Gateway Developer Hub charts.</p>
              <a class="view-video" href="https://software.intel.com/en-us/videos/iot-dev-hub-sensor-output-to-cloud-in-node-red" target="intelvideo">View Video</a>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <div class="blue-button-sm view-tutorial" ng-click="viewSensorCloudTutorial()">View the tutorial</div>
            </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
          <!-- Tutorials -->
          <div class="row">
            <div class="col-md-8">
              <h3>Learn to use Wind River&reg; Helix&trade; App Cloud </h3>
              <p>Create a Hello World app using a cloud development environment to build IoT apps and deploy onto the gateway.</p>
              <a class="view-video" href="https://software.intel.com/en-us/videos/iot-dev-hub-use-helix-app-cloud" target="intelvideo">View Video</a>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <div class="blue-button-sm view-tutorial" ng-click="viewHelixTutorial()">View the tutorial</div>
            </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
          <!-- Tutorials -->
          <div class="row">
            <div class="col-md-8">
              <h3>Save and Deploy OS Image</h3>
              <p>Learn how to save gateway OS and apps for deployment onto another gateway.</p>
              <a class="view-video" href="https://software.intel.com/en-us/videos/iot-dev-hub-save-and-deploy-os-image" target="intelvideo">View Video</a>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <div class="blue-button-sm view-tutorial" ng-click="viewSaveDeployTutorial()">View the tutorial</div>
            </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
        </div>

        <!-- Right Links -->
        <div class="col-md-4 right-links">
            <h1>Helpful Links</h1>
            <div class="row">
              <div class="col-md-6 hero-link">
                <a href="https://communities.intel.com/community/tech/iot-gateway"
		   target="_blank"
		   uib-tooltip="Ask questions and share learnings on the Intel® IoT Developer Zone.">
		  <img src="/images/discussion-with-question-outlined.png" />
		  Community Forum
		</a>
	      </div>
              <div class="col-md-6 hero-link">
                <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway"
		   target="_blank"
		   uib-tooltip="Browse a collection of sensor recipes and code samples for Intel® IoT Gateway Technology.">
		  <img src="/images/download-to-cloud-outlined.png" />
		  GitHub
		</a>
	      </div>
	    </div>
	    <div class="row">
              <div class="col-md-12">
                <a href="https://software.intel.com/en-us/AdminGateway-LuCI" target="_blank"><h3>Using Intel&reg; IoT Gateway Admin Settings</h3></a>
                <p>Helpful guide for using the Intel&reg; Gateway Admin Settings tool.</p>
                <a href="https://software.intel.com/en-us/AdminGateway-LuCI" target="_blank">https://software.intel.com/en-us/AdminGateway-LuCI</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="https://software.intel.com/GatewaySecurity-BestPractices" target="_blank"><h3>Security Best Practices</h3></a>
                <p>Tips and Best Practices for running your Development Gateway more securely, and for hardening your gateway image prior to deployment.</p>
                <a href="https://software.intel.com/GatewaySecurity-BestPractices" target="_blank">https://software.intel.com/GatewaySecurity-BestPractices</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="https://software.intel.com/en-us/iot/hardware/gateways" target="_blank"><h3>Explore Intel IoT</h3></a>
                <p>Information on pre-integrated gateway kits.</p>
                <a href="https://software.intel.com/en-us/iot/hardware/gateways" target="_blank">https://software.intel.com/en-us/iot/hardware/gateways</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="https://software.intel.com/en-us/iot" target="_blank"><h3>IoT Developer Zone</h3></a>
                <p>Guides, downloads, dev kits, support, and more.</p>
                <a href="https://software.intel.com/en-us/iot" target="_blank">https://software.intel.com/en-us/iot</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Solution Briefs</h3>
                <p>A selection of articles on IoT and related topics.</p>
                <a href="https://www-ssl.intel.com/content/www/us/en/embedded/solutions/iot-gateway/software-building-blocks.html">https://www-ssl.intel.com/content/www/us/en/embedded/solutions/iot-gateway/software-building-blocks.html</a>
              </div>
            </div>
        </div>
      </div>